.editor {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

button {
    border-radius: 8px;
    transition: transform .3s;
    border: none;
    margin: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
}

.editors button:not(.saved){
    height: 45px;
    width: 45px;
}

button:hover {
    cursor: pointer;
    transform: translateY(-3px);
}

.color {
    height: 40px;
    cursor: pointer;
    border-radius: 8px;
    transition: transform .3s;
}

.color:hover {
    transform: translateY(-3px);
}

.canvas-container {
    flex: 1;
}

canvas {
    border-radius: 8px;
}

.editors {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 5px;

    background-color: #e6c4ff;
    border: 6px solid #b527ee;
    border-radius: 8px;
    width: 388px;
    height: 300px;
}

.grid-level1 {
    border-radius: 8px;
    width: 90%;
    height: 50%;
    padding-left: 10px;
    justify-self: center;
    align-self: center;
    margin-block-start: 5px;
    transition: transform .3s;
}

.grid-level1:hover {
    transform: translateY(-4px);
}

.download {
    color: black;
    text-decoration: none;
    border-radius: 8px;
    padding: 6px;
    background-color: #de8afa;
    transition: transform .3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
}

.download:hover {
    transform: translateY(-4px);
}

.saved {
    background-color: #4a90ff;
    font-weight: bold;
    height: 2rem;
    width: 4.5rem;
}

.up-btn {
    background-color: #67ccff;
}

.down-btn {
    background-color: #f9e45e;
    transition: transform .3s;
}

.down-btn:hover {
    transform: translateY(+4px)
}

.flaticon.down:hover {
    transform: translateY(+4px)
}

.add-btn {
    background-color: #83e276;
}

.delete-btn {
    background-color: #ff4e4e;
}

.flaticon {
    height: 2rem;
}