.editor{
    display: grid;
    grid-template-columns: 1fr, 1fr;
    gap: 20px;
}



.canvas-container{
    grid-column: 1;
    justify-self: center;
}

.editors{
    grid-column: 2;
    border: 1px solid purple;
}

canvas{
    border-radius: 15px;
}