.editor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.canvas-container {
    grid-row: 1;
    justify-self: center;
}

.editors {
    grid-row: 2;
    border: 4px solid purple;
    border-radius: 15px;
    max-width: 500px;
    justify-self: center;
}

canvas {
    border-radius: 15px;
}