.filter{
    text-align: center;
}

.search{
    border-radius: 15px;
    height: 2rem;
    width: 18rem;
}

.flexible{
    height: 2rem;
    border-radius: 10px;
    font-weight: bold;
}

.keywords button{
    font-size: .9rem;
    border: none;
    background: none;
    box-shadow: none;
}

.keywords button:hover{
    transform: none;
}

.keywords{
    padding: .8rem;
    border-radius: 12px;
    background: linear-gradient(to right , rgb(251, 65, 251), #efc7ff);
    display: inline;
}