.grid-container{
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    gap: 10px;
    margin-block-start: 3vh;
}

img{
    border-radius: 10px;
    height: 200px;
    width: 200px;
}
