.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

img{
    border-radius: 10px;
    height: auto;
    width: 100%;
    transition: transform .3s;
    display: block;
}

img:hover{
    cursor: pointer;
    transform: translateY(-5px);
}