header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: #b239e1;
    height: 12vh;
    border-radius: 15px;
    margin-block-end: 3vh;
}

.logo {
    grid-column: 1;
    font-family: 'impact';
    font-size: 1.375rem;
}

.menu {
    grid-column: 2;
}

header button {
    background: none;
    border: none;
    font-family: 'impact';
    font-size: .9rem;
    transition: transform .3s;
}

header button:hover{
    cursor: pointer;
    transform: translateY(-3px);
}