header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    background: linear-gradient(to right , rgb(150, 5, 150), #e5abfc);
    height: 12vh;
    border-radius: 15px;
    margin-block-end: 1vh;
}

.logo {
    grid-column: 1;
    font-family: 'impact';
    font-size: 2.7rem;
}

.menu {
    grid-column: 2;
}

header button {
    background: none;
    border: none;
    font-family: 'impact';
    font-size: .9rem;
    transition: transform .3s;
    height: 1.9rem;
}

header button:hover{
    cursor: pointer;
    transform: translateY(-3px);
}

