@media (min-width: 850px) {
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }

    .editor {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
    }

    .canvas-container {
        justify-self: end;
    }

    .editors {
        border-radius: 8px;
        height: 388px;
    }

}

@media (max-width: 660px) {
    .keywords button {
        font-size: 1rem;
        width: 3.3rem;
    }

    .search {
        width: 21.7rem;
    }

    .logo {
        font-size: 2rem;
    }
}

@media (max-width: 495px) {
    .keywords button {
        font-size: .7rem;
        width: 2.5rem;
    }

    .search {
        width: 16.8rem;
    }
}